<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <style type="text/css"></style>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/index" class="navbar-brand">Mega Flask</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/ajax">Ajax</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {%if user and user.is_authenticated%}
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
                    {{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                      {%if user.username == 'admin'%}
                          <li><a href="#">AdminPage</a></li>
                      {%endif%}
                      <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
            {%else%}
                <li><a href="{{ url_for('login') }}">LogIn</a></li>
                <li><a href="{{ url_for('register') }}">RegIn</a></li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>


    <div class="container" style="margin-top: 70px;">
      <div class="row">
        <div class="col-lg-12">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-dismissible alert-info">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <ul>
              {% for message in messages %}
                  <li>{{ message }} </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% endwith %}
        </div>
      </div>

      <div class="bs-docs-section">
      {% block content %}{% endblock %}
      </div>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Up</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>

</body>
</html>