<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="well">
        <form action="" method="post" name="login" class="form-horizontal">
          <fieldset>
            <legend>Log In</legend>
            {{form.hidden_tag()}}
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Username</label>
              <div class="col-lg-10">
                {{form.username(size=30,class_='form-control',placeholder ='Username')}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                {{form.password(size=30,class_='form-control',placeholder ='Password')}}
                <div class="checkbox">
                  <label>
                    {{form.remember_me}} Remember me
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                 <input type="submit" class='btn btn-primary' value="Log in">
              </div>
            </div>
          </fieldset>
        </form>
    </div>
  </div>
</div>
{% endblock %}