<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="well">
        <form action="" method="post" name="register" class="form-horizontal">
          <fieldset>
            <legend>Reg In</legend>
            {{form.hidden_tag()}}
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Username</label>
              <div class="col-lg-10">
                {{form.username(size=30,class_='form-control',placeholder ='Username')}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                {{form.password(size=30,class_='form-control',placeholder ='Password')}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Repeat</label>
              <div class="col-lg-10">
                {{form.confirm(size=30,class_='form-control',placeholder ='Repeat password')}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                {{form.email(size=30,class_='form-control',placeholder ='Email')}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                 <input type="submit" class='btn btn-primary' value="Register">
              </div>
            </div>
          </fieldset>
        </form>
    </div>
  </div>
</div>
{% endblock %}